body {
  margin: 0;
  padding: 0;
  font-family: "Metropolis";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
.header-help {
  display: flex;
  gap: 395px;
}

.header-top {
  max-width: 1440px;
  margin-top: 24px;
  margin-bottom: 101px;
}

.header-top-nav {
  display: flex;
}
.nav {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  gap: 40px;
  align-items: center;
}

.btn-start {
  text-decoration: none;
  color: blueviolet;
  border: 1px solid blueviolet;
  border-radius: 20px;
  padding: 12px 24px;
  font-size: 14px;
}
.btn-start:hover {
  color: #ffffff;
  background-color: blueviolet;
  border: 1px solid blueviolet;
  transition: 0.5s;
}

.navigation {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}
.navigation:hover {
  color: gray;
  transition: 0.5s;
}

.header-middle-info {
  display: flex;
  flex-direction: row;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 50px;
}

.inf {
  margin: 0;
  padding: 0;
}

.info-img {
  width: 472px;
  margin-left: 16px;
}

.version {
  background-color: rgba(247, 241, 255, 1);
  border-radius: 20px;
  padding: 8px 16px;
  color: #722ed1;
  font-size: 16px;
  text-decoration: none;
}

.for {
  border: 1px solid transparent;
}

.for:hover {
  border: 1px solid blueviolet;
  transition: 0.5s;
}

.version-a {
  color: #722ed1;
  font-size: 16px;
}

.header-h {
  font-size: 48px;
  line-height: 48px;
}

.page-header {
  margin-bottom: 270px;
  background: linear-gradient(176deg, #fff 0%, #e2f1ff 80%, #fff 80%);
}

.info-p {
  opacity: 0.5;
}

.inf-btn {
  text-decoration: none;
  border: 1px solid transparent;
  padding: 12px 24px;
  border-radius: 25px;
}

.btn1 {
  background-color: #722ed1;
  color: white;
  margin-right: 16px;
}

.btn1:hover {
  background-color: white;
  color: #722ed1;
  border: 1px solid #722ed1;
  transition: 0.5s;
}

.btn2 {
  color: #722ed1;
  background-color: white;
  border: 1px solid white;
}

.btn2:hover {
  color: white;
  background-color: #722ed1;
  border: 1px solid #722ed1;
  transition: 0.5s;
}

.middle {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.glaz {
  text-decoration: none;
}

.knopka {
  display: inline;
  margin: 0 auto;
}

.middle-h {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 24px;
  text-align: center;
}

.info-p {
  text-align: center;
}

.ul-middle {
  display: flex;
  gap: 16px;
  list-style: none;
}

.spis {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
  width: 306px;
}

.imgg {
  display: inline-block;
  margin: 0 auto;
}

.mid-h {
  text-align: center;
  margin-bottom: 16px;
}

.product-1 {
  display: flex;
  gap: 88px;
  margin-top: 120px;
  margin-bottom: 188px;
}

.product-1-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
  justify-content: center;
}

.info-pp {
  color: #8989a2;
  font-size: 16px;
  max-width: 474px;
}

.product-2 {
  display: flex;
  gap: 88px;
}
.product-2-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
  justify-content: center;
}

.avtor-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.avtor-ul {
  display: flex;
  list-style: none;
  gap: 91px;
  margin-bottom: 172px;
  border-top: 1px solid #DEC9FA;;
  padding-top: 32px;
}
.avtor-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
}

.avt-img {
  margin: 0 auto;
}

.avtor {
  background: linear-gradient(
    178deg,
    white 10%,
    #f9f0ff 10%,
    #e2f1ff 90%,
    white 90%
  );
}

.avt-p {
  color: #160637;
  font-size: 24px;
  line-height: 32px;
  margin-top: 200px;
}

.avt-a {
  border-bottom: 1px solid transparent;
  padding-bottom: 10px;
}

.avt-a:hover {
  border-bottom: 2px solid gray;
  transition: 0.5s;
}

.form-info {
  display: flex;
  gap: 66px;
}

.form-info-left,
.form-input {
  display: flex;
  flex-direction: column;
}

.form-info-left {
  gap: 35px;
}

.form-info-right {
  box-shadow: 26px 28px #f9f0ff, -26px 28px #f9f0ff;
}

.trus {
  color: #8989a2;
  text-align: center;
}

.form-input {
  gap: 16px;
  padding: 32px 40px;
}

.input-h {
  font-size: 24px;
  text-align: center;
}
.start {
  text-decoration: none;
  background-color: #722ed1;
  color: white;
  padding: 12px 98px;
  border-radius: 5px;
}

.or {
  text-align: center;
}

.btn-google {
  margin: 0 auto;
}

.login {
  text-align: center;
  font-size: 14px;
  color: #8989a2;
  border-top: 1px solid #8989a2;
  padding: 16px;
}

.log-a {
  text-decoration: none;
  color: #722ed1;
}

.input {
  padding: 16px;
  color: #8989a2;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

.form-h {
  font-size: 32px;
  line-height: 40px;
}

.page-footer {
  margin-top: 240px;
}

.footer {
  display: flex;
  gap: 40px;
}

.footer-left {
  width: 209px;
}

.foot-p {
  font-size: 12px;
  margin-top: 14px;
  margin-bottom: 24px;
}

.footer-ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.footer-li a {
  text-decoration: none;
  color: #160637;
  font-size: 12px;
}

.footer-li {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.li-h {
  white-space: nowrap;
}

.raul {
  display: flex;
  margin-top: 50px;
}
.avt-b {
  margin: 0 auto;
}

@media (max-width: 992px) {
  .container {
    width: 90vw;
  }

  .page-header {
    margin-bottom: 10vw;
  }
  .header-h {
    font-size: 5vw;
    line-height: 5vw;
  }
  .header-help {
    gap: 25vw;
  }
  .nav {
    gap: 2.5vw;
  }

  .inf-btn {
    padding: 1vw 2vw;
  }

  .avtor-ul {
    gap: 5vw;
    margin: 5vw auto;
  }

  .avtor-ul img {
    width: 12vw;
  }

  .info-img {
    width: 50vw;
  }

  .form-h{
    font-size: 3vw;
    line-height: 4vw;
  }
  .start{
    text-align: center;
    padding: 2vw 2vw;
  }
}

@media (max-width: 756px) {
  .container {
    width: 90vw;
  }
  .header-help {
    gap: 25vw;
  }
  .nav {
    gap: 1.5vw;
  }
  .btn-start {
    padding: 1vw 2vw;
  }

  .info-btns{
    display: flex;
    gap: 1vw;
    font-size: 2vw;
  }
  .client{
    max-width: 50vw;
  }

  .page-header {
    margin-bottom: 5vw;
  }
  .header-middle-logo img {
    width: 50vw;
  }
  .header-h {
    font-size: 30px;
    line-height: 30px;
  }
  .info-p {
    font-size: 10px;
    line-height: 15px;
    text-align: start;
  }

  .middle-h {
    font-size: 20px;
    line-height: 20px;
  }

  .iiinf {
    text-align: center;
  }

  .mid-h {
    font-size: 15px;
  }

  .pikcha-1 img,
  .pikcha-2 img {
    width: 300px;
  }

  .prod-h {
    font-size: 20px;
  }
  .info-pp {
    font-size: 15px;
  }

  .avtor-ul {
    gap: 28px;
  }

  .avt-p {
    font-size: 20px;
    line-height: 25px;
  }

  .form-h {
    font-size: 20px;
    line-height: 25px;
  }

  .start {
    white-space: nowrap;
  }

  .form-input {
    padding: 20px 10px;
    gap: 10px;
  }

  .form-info {
    gap: 40px;
  }

  .li-h {
    font-size: 18px;
  }

  .form-info-right {
    box-shadow: 10px 10px #f9f0ff, -10px 10px #f9f0ff;
  }
  .input {
    max-width: 300px;
  }

  .page-footer {
    margin-top: 70px;
  }

  .footer-ul {
    gap: 10px;
  }
  .footer-li {
    max-width: 142px;
  }
  .footer {
    gap: 20px;
  }

  .foot-p {
    font-size: 10px;
    line-height: 15px;
  }

  .footer-li a {
    font-size: 10px;
  }

  .prod-h{
    font-size: 3vw;
  }

  .info-pp{
    font-size: 2vw;
  }

  .for{
    font-size: 2vw;
  }
}

@media (max-width: 636px){
  .container{
    width: 90vw;
  }
  .header-middle-info{
    display: flex;
    flex-direction: column;
  }
  .info{
    width: 100vw;
    text-align: center;
  }
  .info-p{
    text-align: center;
  }
  .info-btns{
    justify-content: center;
  }
  .header-middle-logo{
    width: 100vw;
  }

}